page-lend-book {
  .isLent {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, light-grey);
    }
  }
  .isNotLent {
    ion-card-content, ion-card-header, ion-grid {
      background-color: color($colors, light);
    }
  }
  .mandatory {
    ion-item {
      border-color: red;
      border: solid;
      border-width: 3px;
      color: black;
    }
  }
}
